<!-- lessons.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Lessons</title>
    <link rel="stylesheet" href="/css/test-styles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="images/logo.png">
</head>

<body>
    <script src="/js/opennav-script.js"></script>
    <header>
        <div class="header">
            <div class="container">
                <button class="openbtn" onclick="openNav()">☰</button>
                <div class="logo_section">
                    <div class="logo">
                        <a href="/"><img src="images/logo.png" alt="#"></a>
                    </div>
                </div>
                <div class="menu-area">
                    <nav class="main-menu">
                        <ul class="menu-area-main">
                            <li><a href="/">Home</a></li>
                            <li><a href="/characters">ตัวอักษร</a></li>
                            <li><a href="/lessons">บทเรียน</a></li>
                            <li><a href="/tests">Quiz</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="menu-right">
                    <li class="dropdown">
                        <a href="#" class="dropbtn"><% if (user) { %><%= user.username %><% } else { %>Account<% } %></a>
                        <div class="dropdown-content">
                            <% if (user) { %>
                                <a href="/profile">Profile</a>
                                <a href="/logout">ออกจากระบบ</a>
                            <% } else { %>
                                <a id="bt-link" href="/login">Log In</a>
                                <a id="bt-link" href="/sign_up">Sign Up</a>
                            <% } %>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/profile">My profile</a>
        </div>
    </header>



    <main class="container"><br><br>
        <a class="dropbtn-add" href="/add-lesson">Add lesson</a><br><br>
        <section class="grid">
            <% lessons.forEach(lesson=> { %>
                <a href="/lessons/<%= lesson.lesson_id %>" class="detail-button">
                    <article>
                        <h2 class="title"><%= lesson.title %></h2>
                        <img src="/uploads/<%= lesson.image %>" alt="Lesson Image">
                        <p class="destipt"><%= lesson.description %></p>
                    </article>
                </a>
                <% }); %>
        </section>
    </main>

    <script src="/js/addTest-script.js"></script>

    <footer>
        <div class="headinga">
            <h3>เรียนภาษาญี่ปุ่น กับ ChanPe</h3>
            <span>Burapha University, 169 Long Had Bangsaen Rd ,Thailand, TH</span>
            <p>(+66) 8866458**
                <br>64160188@go.buu.ac.th
            </p>
        </div>
    </footer>
</body>

</html>